*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f1ff;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 450px;
}

.logo{
    text-align: center;
    margin-bottom: 20px;
}

.logo img{
    width: 350px;
}

.login-card{
    background-color: white;

    padding: 40px;

    border: 4px solid #2E1A47;

    border-radius: 25px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

h1{
    text-align: center;
    color: #2E1A47;

    margin-bottom: 35px;

    font-size: 28px;
}

.grupo-input{
    margin-bottom: 20px;
}

label{
    display: block;

    margin-bottom: 8px;

    color: #2E1A47;

    font-weight: bold;
}

input{
    width: 100%;

    padding: 12px;

    border: 2px solid #d4a017;

    border-radius: 10px;

    font-size: 16px;
}

button{
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background-color: #2E1A47;

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    margin-top: 10px;
}

button:hover{
    background-color: #d4a017;
    color: #2E1A47;
}

.links{
    margin-top: 25px;

    display: flex;

    justify-content: center;
}

.links a{
    text-decoration: none;

    color: #2E1A47;

    font-weight: bold;
}

.links a:hover{
    color: #d4a017;
}